body {
    font-family: "Open Sans", sans-serif;
    color: rgb(32, 32, 32);
}
a {
    color: rgb(33, 114, 165);
}
a:hover {
    color: rgb(78, 140, 181);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}
.navbar {
    z-index: 12000;
    position: fixed;
    width: 100%;
    background: rgba(26, 25, 25, 0.94);
    overflow-y: auto;
  
}
.navbar a {
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    font-size: 15px; 
  
}
.navbar i {
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    font-size: 15px;   
 
}

.navbar a i {
    font-size: 17px;
    padding-right: 8px;
    color: gray;
}
#nav1 a:hover,
#nav1 .active > a {
    text-decoration: none;
    color: white;
}
.navbar a:hover i,
.navbar .active > a i {
    color: rgb(56, 126, 192);
}
.navbar-toggler {
    color: white;
    background-color: rgb(71, 70, 70);
    width: 100px;
    padding: 9px 21px 0px 0px;
}

#header {
    margin-top: 53px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 235px; */
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 3px 16px 0 0;
    /* background: rgba(27, 27, 27, 0.658); */
    overflow-y: auto;
    text-align: center;
}

#name {
    font-size: 35px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 200;
    font-family: 'Arvo', serif;
}
.github, .linkedin {
    font-size: 18px;
    display: inline-block;
    background: rgb(41, 39, 39);
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile img {
    margin: 25px auto;
    display: block;
    width: 189px;
    border: 7px solid #2c2f3f;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: white;
    text-decoration: none;
}

#main {
    margin-top:280px ;
}
@media (max-width: 1199px) {
    #header {
        top: -280px;
    }
    #main {
        margin-top: 0;
    }
}


#hero {
    width: 100%;
    height: 100vh;
    background: url("images/img22.jpeg") no-repeat top center;
    /* background-size: cover; */
}

#hero::before {
    content: "";
    background: rgb(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero h1{
    text-align: center;
    margin: 357px 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    color: white;
}
#hero p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 34px;
    color: white;
}

.about {
    margin-top: 20px;
    font-weight: 500;
    font-size: 22px;
    color: rgb(37, 37, 54);
}
.about .content ul {
    margin-left: 10px;
    list-style: none;
    padding: 0;
}
.about .content ul li {
    font-size: 22px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.about .content ul i {
    margin-left: 10px;
    font-size: 15px;
    padding-right: 2px;
    color: rgb(60, 128, 192);
}
.abput .content p:last-child {
    margin-bottom: 0;
}
#img2 {
    float: left;
    width: 275px;
    height: 319px;
}
.about .content h3, .about .content p {
    margin-left: 30px;
    margin-bottom: 20px;
}
.about .container .section-title {
    margin-bottom: 40px;
}


.line-2, .line-3 {
    height: 3px;
    background-color: black;
    margin: 50px 50px 50px 50px;
}

.btn-info {
    margin-bottom: 10px;
}

.githun-link, .linkedin-link {
    font-size: 25px;
    color: black;
    font-family: 'Arvo', serif;
}
.githubLogo, .linkedinLogo {
    padding-right: 8px;
    color: #6262c7;
}

.contact p {
    font-size: 20px;
    margin-bottom: 58px;
}

.contact h2 {
    margin-bottom: 38px;
}

iframe {
    margin-top: 35px;
    margin-bottom: 19px;
}

/* FOOTER */

/* footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;

}

.socials a i{
font-size: 1.1rem;
transition: color .4s ease;    
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} */

/* .portfolio img {
    width: 20rem;

} */

.p-card {
    width: 20px;
}

footer {
    background: rgb(14 15 14 / 91%);
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
    color: #bbb5b5;
    margin-top: 100px;
    margin-bottom: 0px;
  
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-content h3 {
    font-size: 21px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
  }
  
  .footer-content p {
    margin-top: 19px;
    margin-bottom: 1px;
    text-align: center;
    max-width: 500px;
    line-height: 28px;
    font-size: 18px;
  }
  
  .socials{
    list-style: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0rem 0 1rem 0;
  }
  
  .socials li{
    /* margin: 0 10px; */
    font-size: 31px;
  }
  
  .socials a{
    text-decoration: none;
    color: #bbb5b5;
  
  }
  
  .socials a i{
    font-size: 32 px;
    text-align: center;
    transition: color .4s ease;
    letter-spacing: 20px;    
  }
  
  .socials a:hover i {
    color: aqua;
  }
  
  .footer-bottom{
    background: rgb(29, 28, 28);
    width: 100vw;
    padding: 1px 0;
    height: 53px;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-left: 0;
    margin-top: 15px !important;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }

  /* *, *::before, *::after {
    box-sizing: border-box;
    margin-bottom: 0px;
  } */
